.template {
    background-color: white;
    margin-bottom: 12px;
    border: $border;
    border-radius: 5px;
    color: #5F636A;
}

.user-input {
    justify-content: space-between;
}
.user-input-links-top {
    background-color: #F6F7F9;
    border-bottom: $border;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include flex-item(initial, initial, center);

    & a {
        padding: 9px 10px;
        &:first-of-type {
            position: relative;
        }
    }
    & .album {
        border-left: $border;
        border-right: $border
    }
    & .fas {
        margin-right: 4px;
    }
}

.album span,
.video span {
    color: #365899;
}
.triangle {
    @include triangle(top,white,8px,8px);
    @include position(absolute,unset,unset,-1px,56px);
}
.triangle-border {
    @include triangle(top,$border-color-grey,9px,9px);
    @include position(absolute,unset,unset,-1px,55px);
}

.user-input-text {
    display: flex;
    & textarea {
        width: 100%;
        padding-top: 25px;
        height: inherit;
    }
    & img {
        margin: 10px;
        @include publisher-pic(45px,45px); 
    }
    
}

.user-input-links-bottom {
    border-top: $border;
    padding: 3px;
    margin: auto 10px;
    & .btn {
        @include button(8px 16px);
        padding: 8px 16px;
        margin: 5px;
        border-radius: 14px;
        &:hover {
            background-color: $body-hover-color-grey;
        }
    }
    & .fa-image {
        color: #94CD54;
    }
    & .fa-smile {
        color: #F7C43A;
    }
    & .fa-ellipsis-h {
        color: #A6ABB4; 
    }
}