//Colors

$main-font-color: #5F636A;
$body-hover-color-grey: #E9EBEE;
$border-color-grey: #D9D9D9;
$descr-font-color-dark-grey: #AFB2B8;
$links-color-blue: #365899;

//Borders

$border: 1px solid $border-color-grey;
$border-header-blue: 1px solid #3B5CA0;
$box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.75);

//Fonts

$small-font-size: 12px; 
$headers-font-size: 13px;
$headers-font-weight: 600;

//Sizes & other

$inner-padding: 13px;
$direction-rtl: rtl;
$centred: 0 auto;


@mixin flex-item($flex-direction, $justify, $align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin publisher-pic($width,$height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    border: $border;
}

@mixin button($padding, $bgcolor:#F6F7F9) {
    border: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    background-color: $bgcolor;
    color:  #4E5665;
    padding: $padding;
    cursor: pointer;
}

@mixin headers() {
    font-size: $headers-font-size;
    font-weight: $headers-font-weight;
    padding: 5px;
}
@mixin publisher-name() {
    font-size: 15px;
    font-weight: $headers-font-weight;

}
@mixin position($pos,$top,$right,$bottom,$left) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin triangle($direction, $color, $big, $small) {
    border: $small solid transparent;
    border-#{$direction}: none;
    width: 0;
    height: 0;
    
    @if ($direction == top) {
        border-bottom: $big solid $color;
    }@else if ($direction == left) {
        border-right: $big solid $color;
    }@else if ($direction == bottom) {
        border-top: $big solid $color;
    }@else if ($direction == right) {
        border-left: $big solid $color;
    }
  }
